<p>
  <%= @restaurant.name %>
</p>

<p>
  <%= @restaurant.description %>
</p>





<%= button_to 'Delete', restaurant_path, method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }
%>
